@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
* {
  margin: 0px;
  padding: 0px; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

/* -----------------------------------------------------------------
header 영역
-----------------------------------------------------------------*/
#header {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1920px; }
  #header .header_inner {
    position: relative;
    width: inherit;
    height: inherit;
    margin-top: 60px;
    display: flex;
    justify-content: space-between; }
    #header .header_inner .header_title {
      padding-left: 60px;
      font-weight: 700;
      letter-spacing: 1.2px;
      font-size: 16px;
      color: #dc5b5b; }
    #header .header_inner .header_logo {
      padding-right: 60px;
      font-weight: 400;
      font-size: 14px;
      color: #dc5b5b; }

/* -----------------------------------------------------------------
visual 영역
-----------------------------------------------------------------*/
#visual {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 640px;
  overflow: hidden;
  background-color: #1200aa;
  background: url("https://jin-world.github.io/portfolio/img/img10.jpg") no-repeat center;
  background-size: cover; }
  #visual .visual_inner {
    position: relative;
    z-index: 1;
    width: inherit;
    height: inherit;
    max-width: 2560px;
    margin: 0 auto; }
    #visual .visual_inner .visual_content {
      position: absolute;
      top: 50%;
      margin-top: -15vh;
      text-align: center;
      width: 100%; }
      #visual .visual_inner .visual_content .visual_text {
        font-size: 27px;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 500;
        color: #eee; }
      #visual .visual_inner .visual_content .visual_logo {
        margin: 22px auto 70px; }
      #visual .visual_inner .visual_content .visual_desc {
        display: block;
        font-family: 'Noto Sans', sans-serif;
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 500; }

/* -----------------------------------------------------------------
about 영역
-----------------------------------------------------------------*/
#about {
  width: 100%;
  padding: 180px 0px;
  position: relative; }
  #about .about_inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    #about .about_inner .about_tit {
      text-align: center;
      color: #252525;
      font-size: 2.2rem;
      font-weight: 800;
      font-family: "Noto Sans";
      letter-spacing: -1px; }
    #about .about_inner .about_wrap {
      padding: 70px 0 0 0;
      overflow: hidden; }
      #about .about_inner .about_wrap .about_img {
        position: relative;
        width: 20vw;
        height: 430px;
        float: left; }
      #about .about_inner .about_wrap .about_txt {
        width: 52vw;
        float: right; }
        #about .about_inner .about_wrap .about_txt .content-box {
          display: inline-block;
          margin-bottom: 60px;
          font-family: 'Noto Sans', sans-serif; }
          #about .about_inner .about_wrap .about_txt .content-box h2 {
            margin-bottom: 22px;
            color: #333;
            font-size: 1.4rem;
            font-weight: 800;
            text-transform: uppercase; }
          #about .about_inner .about_wrap .about_txt .content-box .txt-box {
            display: table;
            margin-bottom: 5px;
            color: #333;
            font-weight: 400; }
            #about .about_inner .about_wrap .about_txt .content-box .txt-box dt {
              width: 120px;
              font-weight: 700; }
            #about .about_inner .about_wrap .about_txt .content-box .txt-box dd {
              display: table-cell;
              font-weight: 500; }
        #about .about_inner .about_wrap .about_txt :nth-of-type(1) {
          margin-right: 6%; }
        #about .about_inner .about_wrap .about_txt :nth-of-type(3) {
          clear: both;
          display: block;
          margin-bottom: 0px; }
          #about .about_inner .about_wrap .about_txt :nth-of-type(3) p {
            width: 50%;
            line-height: 30px;
            color: #333; }
    #about .about_inner ::after {
      content: "";
      display: block;
      clear: both; }

/* -----------------------------------------------------------------
skill 영역
-----------------------------------------------------------------*/
#skill {
  position: relative;
  background-color: #fafafa;
  padding: 180px 0px; }
  #skill .skill_inner {
    padding: 0 250px; }
    #skill .skill_inner .skill-category-container {
      padding-bottom: 50px;
      margin-bottom: 50px;
      border-bottom: 1px solid #ddd; }
      #skill .skill_inner .skill-category-container .skill-row {
        float: left;
        width: 100%; }
        #skill .skill_inner .skill-category-container .skill-row .skill_title {
          float: left;
          width: 50%;
          color: #333;
          font-weight: 600;
          text-align: left;
          font-size: 45px;
          line-height: 1.6;
          letter-spacing: -0.5px; }
        #skill .skill_inner .skill-category-container .skill-row .skill_list {
          width: 50%;
          float: right; }
          #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item {
            position: relative;
            font-size: 19px;
            line-height: 160%;
            padding-left: 30px;
            margin-top: 56px; }
            #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item .skill-list_name {
              display: block;
              margin-bottom: 12px;
              font-family: 'Noto Sans', sans-serif;
              font-weight: 700;
              font-size: 19px; }
            #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item .skill-list_desc {
              line-height: 1.68;
              font-size: 98%;
              letter-spacing: -.19px; }
          #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item:first-child {
            margin-top: 0; }
    #skill .skill_inner :last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0; }
    #skill .skill_inner ::after {
      content: "";
      display: block;
      clear: both; }

/* -----------------------------------------------------------------
design portfolio 영역
-----------------------------------------------------------------*/
#webdesign {
  position: relative;
  background-color: #fff;
  padding: 180px 0px; }
  #webdesign .webdesign_inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    #webdesign .webdesign_inner .web_tit {
      text-align: center;
      color: #252525;
      font-size: 2.2rem;
      font-weight: 800;
      font-family: "Noto Sans";
      letter-spacing: -1px; }
    #webdesign .webdesign_inner .web_txt {
      margin-top: 5px;
      color: #afafaf;
      text-align: center;
      font-size: 1.124rem;
      font-weight: 600;
      font-family: 'Noto Sans', sans-serif; }
    #webdesign .webdesign_inner .web_content {
      display: flex;
      justify-content: space-between;
      margin-top: 40px; }
      #webdesign .webdesign_inner .web_content > article {
        width: 30%; }
        #webdesign .webdesign_inner .web_content > article .pic {
          width: 100%;
          height: 220px;
          background-color: #333;
          margin-bottom: 20px;
          border: 1px solid #c2c2c2; }
          #webdesign .webdesign_inner .web_content > article .pic .web_mobile {
            display: none; }
          #webdesign .webdesign_inner .web_content > article .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        #webdesign .webdesign_inner .web_content > article h2 {
          font-size: 18px;
          font-family: 'Noto Sans', sans-serif;
          color: #555;
          margin-bottom: 20px; }
        #webdesign .webdesign_inner .web_content > article a {
          display: inline-block;
          width: 70px;
          height: 27px;
          border: 1px solid #aa0000;
          text-align: center;
          font: bold 12px/27px "Noto Sans";
          color: #aa0000; }
        #webdesign .webdesign_inner .web_content > article :hover {
          background-color: #aa0000;
          color: #fff; }

/* -----------------------------------------------------------------
web portfolio 영역
-----------------------------------------------------------------*/
#webpublisher {
  position: relative;
  background-color: #fff;
  padding: 180px 0px; }
  #webpublisher .webpublisher_inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    #webpublisher .webpublisher_inner .pub_tit {
      text-align: center;
      color: #252525;
      font-size: 2.2rem;
      font-weight: 800;
      font-family: "Noto Sans";
      letter-spacing: -1px; }
    #webpublisher .webpublisher_inner .pub_txt {
      margin-top: 5px;
      color: #afafaf;
      text-align: center;
      font-size: 1.124rem;
      font-weight: 600;
      font-family: 'Noto Sans', sans-serif; }
    #webpublisher .webpublisher_inner .pub_content {
      display: flex;
      justify-content: space-between;
      margin-top: 40px; }
      #webpublisher .webpublisher_inner .pub_content > article {
        width: 100%; }
        #webpublisher .webpublisher_inner .pub_content > article .pic {
          width: 100%;
          height: 280px;
          background-color: #333;
          margin-bottom: 20px; }
          #webpublisher .webpublisher_inner .pub_content > article .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        #webpublisher .webpublisher_inner .pub_content > article .btn {
          display: flex;
          justify-content: space-between; }
          #webpublisher .webpublisher_inner .pub_content > article .btn a {
            display: inline-block;
            width: 49%;
            height: 45px;
            border: 1px solid #aa0000;
            text-align: center;
            font: bold 14px/45px "Noto Sans";
            color: #aa0000; }
          #webpublisher .webpublisher_inner .pub_content > article .btn :hover {
            background-color: #aa0000;
            color: #fff; }

/* -----------------------------------------------------------------
contact 영역
-----------------------------------------------------------------*/
#contact {
  position: relative;
  background-color: #f0f0f0;
  padding: 180px 0px; }
  #contact .contact_inner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    #contact .contact_inner .contact_tit {
      text-align: center;
      color: #252525;
      font-size: 1.6rem;
      font-weight: 500;
      font-family: 'Noto Sans', sans-serif;
      letter-spacing: -1px;
      text-shadow: 9px 8px 10px #ddd;
      margin-bottom: 60px; }
      #contact .contact_inner .contact_tit .contact_icon {
        width: 48px;
        animation: swing 2.5s infinite; }
    #contact .contact_inner .contact_info {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 800; }
      #contact .contact_inner .contact_info a {
        display: block;
        font-size: 82px;
        font-weight: 500;
        transition: all 0.3s;
        font-family: 'Noto Sans', sans-serif;
        color: inherit; }
      #contact .contact_inner .contact_info :hover {
        color: #aa0000;
        transform: scale(0.95); }
      #contact .contact_inner .contact_info .contact_txt {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #616161; }

/* -----------------------------------------------------------------
footer 영역
-----------------------------------------------------------------*/
#footer {
  border: 1px solid #eee;
  padding-top: 28px;
  padding-bottom: 26px; }
  #footer .fusion-row > div {
    color: #adadad;
    text-align: center;
    font-family: 'Noto Sans', sans-serif; }

/* -----------------------------------------------------------------
scroll navi 영역
-----------------------------------------------------------------*/
#navi {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%); }
  #navi li {
    margin: 20px 0; }
    #navi li a {
      display: block;
      width: 10px;
      height: 10px;
      background: #888;
      border-radius: 5px;
      transition: 0.5s; }
    #navi li .on {
      background: #aa0000;
      height: 60px; }

@keyframes swing {
  0% {
    transform: rotate(0deg); }
  20% {
    transform: rotate(13deg); }
  24% {
    transform: rotate(-13deg); }
  28% {
    transform: rotate(13deg); }
  32% {
    transform: rotate(-13deg); }
  36% {
    transform: rotate(0deg); } }
/* -----------------------------------------------------------------
        반응형
    -----------------------------------------------------------------*/
/* 1439px  ---------------------------------------------------------- */
@media screen and (max-width: 1439px) {
  /* about */
  #about .about_inner {
    width: 90%; }
    #about .about_inner .about_wrap .about_txt :nth-of-type(3) p {
      width: 90%; }

  /* skill */
  #skill .skill_inner {
    padding: 0 90px; }

  /* web_portfolio */
  #webdesign .webdesign_inner {
    max-width: 90%; }
    #webdesign .webdesign_inner .web_content > article {
      width: 32%; }
      #webdesign .webdesign_inner .web_content > article .pic {
        width: 100%;
        height: 200px; }

  /* pub_portfolio*/
  #webpublisher {
    padding: 0px 0px 180px 0px; }
    #webpublisher .webpublisher_inner {
      max-width: 90%; }

  /* scrill navi */
  #navi {
    right: 20px; } }
/* 1279px ----------------------------------------------------------- */
@media screen and (max-width: 1279px) {
  /* about */
  #about .about_inner {
    width: 90%; }
    #about .about_inner .about_wrap .about_img {
      width: 30vw;
      height: 40vh;
      float: left; }
      #about .about_inner .about_wrap .about_img img {
        width: 100%; }
    #about .about_inner .about_wrap .about_txt {
      width: 54vw; }
      #about .about_inner .about_wrap .about_txt :nth-of-type(3) p {
        width: 90%; }

  /* skill */
  #skill .skill_inner {
    padding: 0 90px; }
    #skill .skill_inner .skill-category-container .skill-row {
      width: 100%; }
      #skill .skill_inner .skill-category-container .skill-row .skill_title {
        width: 40%;
        font-size: 36px; }
      #skill .skill_inner .skill-category-container .skill-row .skill_list {
        width: 60%; }
        #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item {
          font-size: 16px; }
          #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item .skill-list_name {
            font-size: 18px; }

  /* web_portfolio */
  #webdesign .webdesign_inner .web_content > article .pic {
    height: 180px; }
  #webdesign .webdesign_inner .web_content > article h2 {
    font-size: 16px; } }
/* 1023px ----------------------------------------------------------- */
@media screen and (max-width: 1023px) {
  /* visual */
  #visual .visual_inner .visual_content .visual_text {
    font-size: 24px; }
  #visual .visual_inner .visual_content .visual_logo img {
    width: 55%; }
  #visual .visual_inner .visual_content .visual_desc {
    font-size: 15px; }

  /* about */
  #about {
    padding: 110px 0px; }
    #about .about_inner {
      width: 90%; }
      #about .about_inner .about_wrap .about_img {
        height: 40vh; }
        #about .about_inner .about_wrap .about_img img {
          width: 100%; }
      #about .about_inner .about_wrap .about_txt {
        width: 58vw; }
        #about .about_inner .about_wrap .about_txt :nth-of-type(3) p {
          width: 100%; }

  /* skill */
  #skill {
    padding: 110px 0px; }
    #skill .skill_inner {
      padding: 0 50px; }
      #skill .skill_inner .skill-category-container .skill-row .skill_title {
        width: 40%;
        font-size: 32px; }

  /* web_portfolio */
  #webdesign {
    padding: 110px 0px; }
    #webdesign .webdesign_inner .web_content > article .pic {
      height: 150px; }
    #webdesign .webdesign_inner .web_content > article h2 {
      font-size: 15px; }

  /* pub_portfolio*/
  #webpublisher {
    padding: 0px 0px 110px 0px; }
    #webpublisher .webpublisher_inner {
      max-width: 90%; }
      #webpublisher .webpublisher_inner .pub_content > article .pic {
        height: 200px; }

  /* contact */
  #contact {
    padding: 110px 0px; }
    #contact .contact_inner {
      max-width: 90%; }
      #contact .contact_inner .contact_tit {
        font-size: 1.3rem;
        margin-bottom: 40px; }
        #contact .contact_inner .contact_tit .contact_icon {
          width: 48px;
          animation: swing 2.5s infinite; }
      #contact .contact_inner .contact_info a {
        font-size: 70px; }
      #contact .contact_inner .contact_info .contact_txt {
        font-size: 14px; } }
/* 839px----------------------------------------------------------- */
@media screen and (max-width: 839px) {
  /* header */
  #header {
    display: none; }

  /* visual */
  #visual {
    height: 54vh;
    min-height: 380px; }
    #visual .visual_inner .visual_content .visual_text {
      font-size: 17px; }
    #visual .visual_inner .visual_content .visual_logo {
      margin: 22px auto 50px; }
      #visual .visual_inner .visual_content .visual_logo img {
        width: 54%; }
    #visual .visual_inner .visual_content .visual_desc {
      font-size: 14px; }

  /* about */
  #about {
    padding: 70px 0px; }
    #about .about_inner {
      width: 90%; }
      #about .about_inner .about_tit {
        text-align: center;
        color: #252525;
        font-size: 1.9rem;
        font-weight: 800;
        font-family: "Noto Sans";
        letter-spacing: -1px; }
      #about .about_inner .about_wrap .about_img {
        height: 30vh;
        float: none;
        overflow: hidden; }
        #about .about_inner .about_wrap .about_img img {
          width: 100%;
          height: 100%;
          display: block; }
      #about .about_inner .about_wrap .about_txt {
        margin-top: 30px;
        width: 100%;
        float: none; }

  /* skill */
  #skill {
    padding: 70px 0px; }
    #skill .skill_inner {
      padding: 0 25px; }
      #skill .skill_inner .skill-category-container {
        padding-bottom: 40px;
        margin-bottom: 40px; }
        #skill .skill_inner .skill-category-container .skill-row {
          float: none; }
          #skill .skill_inner .skill-category-container .skill-row .skill_title {
            float: none;
            width: 100%;
            font-size: 30px; }
          #skill .skill_inner .skill-category-container .skill-row .skill_list {
            width: 100%;
            float: none;
            margin-top: 20px; }
            #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item {
              font-size: 16px;
              padding-left: 0px;
              margin-top: 30px; }
              #skill .skill_inner .skill-category-container .skill-row .skill_list .skill_list_item .skill-list_name {
                margin-bottom: 12px;
                font-size: 20px; }
      #skill .skill_inner :last-child {
        padding-bottom: 0px;
        margin-bottom: 0px; }

  /* web_portfolio */
  #webdesign {
    padding: 70px 0px; }
    #webdesign .webdesign_inner .web_tit {
      text-align: center;
      color: #252525;
      font-size: 1.9rem;
      font-weight: 800;
      font-family: "Noto Sans";
      letter-spacing: -1px; }
    #webdesign .webdesign_inner .web_txt {
      font-size: 1rem; }
    #webdesign .webdesign_inner .web_content {
      display: block; }
      #webdesign .webdesign_inner .web_content > article {
        width: 100%; }
        #webdesign .webdesign_inner .web_content > article .pic {
          height: 260px;
          margin-top: 70px; }
          #webdesign .webdesign_inner .web_content > article .pic :nth-of-type(1) {
            margin-top: 0px; }
        #webdesign .webdesign_inner .web_content > article h2 {
          font-size: 16px; }

  /* pub_portfolio*/
  #webpublisher {
    padding: 0px 0px 70px 0px; }
    #webpublisher .webpublisher_inner {
      max-width: 90%; }
      #webpublisher .webpublisher_inner .pub_tit {
        text-align: center;
        color: #252525;
        font-size: 1.9rem;
        font-weight: 800;
        font-family: "Noto Sans";
        letter-spacing: -1px; }
      #webpublisher .webpublisher_inner .pub_txt {
        font-size: 1rem; }
      #webpublisher .webpublisher_inner .pub_content > article .pic {
        height: 200px; }
      #webpublisher .webpublisher_inner .pub_content > article .btn {
        display: block; }
        #webpublisher .webpublisher_inner .pub_content > article .btn a {
          display: inline-block;
          width: 100%;
          height: 45px;
          font: bold 14px/45px "Noto Sans"; }
        #webpublisher .webpublisher_inner .pub_content > article .btn :nth-of-type(1) {
          margin-bottom: 6px; }

  /* contact */
  #contact {
    padding: 70px 0px; }
    #contact .contact_inner {
      max-width: 90%; }
      #contact .contact_inner .contact_tit {
        font-size: 1rem;
        margin-bottom: 30px; }
        #contact .contact_inner .contact_tit .contact_icon {
          width: 40px; }
      #contact .contact_inner .contact_info a {
        font-size: 45px; }
      #contact .contact_inner .contact_info .contact_txt {
        font-size: 14px; }

  /* footer */
  #footer {
    padding: 16px 0px; }
    #footer .fusion-row > div {
      font-size: 13px; } }
/* 539px----------------------------------------------------------- */
@media screen and (max-width: 539px) {
  /* about */
  #about .about_inner .about_wrap .about_img {
    height: 20vh; }
  #about .about_inner .about_wrap .about_txt .content-box h2 {
    font-size: 1rem; }
  #about .about_inner .about_wrap .about_txt .content-box .txt-box {
    font-size: 15px; }
  #about .about_inner .about_wrap .about_txt p {
    font-size: 15px;
    letter-spacing: -2px; }

  /* web_portfolio */
  #webdesign .webdesign_inner .web_content > article .pic .web_pc {
    display: none; }
  #webdesign .webdesign_inner .web_content > article .pic .web_mobile {
    display: block; }

  /* contact */
  #contact {
    padding: 60px 0px; }
    #contact .contact_inner {
      max-width: 100%; }
      #contact .contact_inner .contact_tit {
        font-size: 1rem;
        padding-left: 30px; }
        #contact .contact_inner .contact_tit .contact_icon {
          width: 32px; }
      #contact .contact_inner .contact_info a {
        font-size: 35px; }
      #contact .contact_inner .contact_info .contact_txt {
        font-size: 12px; }

  /* scrill navi */
  #navi {
    right: 8px; }
    #navi li {
      margin: 10px 0px; }
      #navi li a {
        width: 8px;
        height: 8px; }
      #navi li .on {
        height: 50px; } }

/*# sourceMappingURL=style.css.map */
