@charset "utf-8";
@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@mixin cont_tit($align: center, $color: #252525, $fontsize: 60px, $fontweight: 400, $fontfamily: "Pretendard-Regular", $letter: "10px") {
    text-align: $align;
    color: $color;
    font-size: $fontsize;
    font-weight: $fontweight;
    font-family: $fontfamily;
    letter-spacing: &letter;
}

/* 공통 */
.ani {transition: all 0.3s;}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#004dd0;
}

/* -----------------------------------------------------------------
header 영역
-----------------------------------------------------------------*/
#header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 100px;
    box-sizing: border-box;

    .wrap {
        position: relative;
        text-align: center;
        
        .logo {
            float: left;

            a {
                display: block;

                .on {display: none;}
                img {transition: all 0.3s;}
            }
        }

        nav {
            float: right;

            ul {
                :nth-of-type(1) li {padding-left:0;}

                li {
                     float: left;
                     width: 25%;
    
                    a {
                         display: block;
                         padding-left: 80px;
                         color: #fff;
                         font-weight: 600;
                         font-size: 18px;
                    }
                }
            }
        }
    }
}

/* -----------------------------------------------------------------
visual 영역
-----------------------------------------------------------------*/
#visual {
    position: relative;
    width: 100%;
    height: 100vh;
    // height: 940px;
    min-height: 640px;
    overflow: hidden;
    background-color: #1200aa;
    background: url("http://jin-world.github.io/portfolio/img/main_bg.jpg") no-repeat center;
    background-size: cover;

    .visual_inner {
        position: relative;
        z-index: 1;
        width: inherit;
        height: inherit;
        max-width: 2560px;
        margin: 0 auto;

        .visual_content {
            position: absolute;
            top: 50%;
            margin-top: -15vh;
            text-align: center;
            width: 100%;   
            font-family: 'Pretendard-Regular', sans-serif;
            
            .visual_text {
                font-size: 26px;
                font-weight: 800;
                color: #004ccf;
            }

            h3 {
                font-size: 65px;
                padding: 50px 0 60px;
                color: #fff;
                font-weight: 100;

                #typed01 {
                   display: inline-block;
                }

                strong {
                    font-weight: 700;
                }
            }

            .tag {
                color: #fff;
                font-size: 16px;
                font-weight: 300;

                :nth-of-type(1) {margin-left: 0;}

                span {
                    display: inline-block;
                    padding: 10px 20px;
                    border: 1px solid rgba(255,255,255,.5);
                    border-radius: 20px;
                    margin-left: 20px;
                }
            }
        }
    }
}

/* -----------------------------------------------------------------
about 영역
-----------------------------------------------------------------*/
#about {
    width: 100%;
    padding: 150px 0px;
    position: relative;

    .about_inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .about_tit {
            @include cont_tit();
        }

        .about_wrap {
            padding: 90px 0 0 0;
            overflow: hidden;

            .about_img {
                position: absolute;
                width: 70%;
                float: left;

                img {
                    border-radius: 10%;
                }
            }

            .about_txt {
                float: right;
                padding-left: 470px;
               
                .content-box {
                    display: inline-block;
                    margin-bottom: 60px;
                    font-family: 'Pretendard-Regular', sans-serif;

                    h2 {
                        margin-bottom: 22px;
                        color: #333;
                        font-size: 1.4rem;
                        font-weight: 800;
                        text-transform: uppercase;
                    }

                    .txt-box {
                        display: table;
                        margin-bottom: 5px;
                        color: #333;
                        font-weight: 400;

                        dt {
                            width: 120px;
                            font-weight: 700;
                        }

                        dd {
                            display: table-cell;
                            font-weight: 500;
                        }
                    }
                }

                :nth-of-type(1) {margin-right: 6%;}
                :nth-of-type(3) {
                    clear: both;
                    display: block;
                    margin-bottom: 0px;

                    p {
                        width: 100%;
                        line-height: 30px;
                        color: #333;
                    }
                }
            }
        }

        
        ::after {
            content: "";
            display: block;
            clear: both;
        }
        
    }
}

/* -----------------------------------------------------------------
skill 영역
-----------------------------------------------------------------*/
#skill {
    position: relative;
    background-color: #fafafa;
    padding: 150px 0px;

    .skill_inner {
        max-width: 1200px;
        margin: 0 auto;

        .skill-category-container {
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid #ddd;
            
            .skill-row {
                float: left;
                width: 100%;

                .skill_title {
                    float: left;
                    width: 50%;
                    color: #333;
                    font-weight: 600;
                    text-align: left;
                    font-size: 45px;
                    line-height: 1.6;
                    letter-spacing: -0.5px;
                }
        
                .skill_list {
                    width: 50%;
                    float: right;
    
                    .skill_list_item {
                        position: relative;
                        font-size: 19px;
                        line-height: 160%;
                        padding-left: 30px;
                        margin-top: 56px;
        
                        .skill-list_name {
                            display: block;
                            margin-bottom: 12px;
                            font-family: 'Pretendard-Regular', sans-serif;
                            font-weight: 700;
                            font-size: 19px;
                        }
        
                        .skill-list_desc {
                            line-height: 1.68;
                            font-size: 98%;
                            letter-spacing: -.19px;
                        }
                    }
        
                    .skill_list_item:first-child {margin-top: 0;}
                }
            }
        }

        :last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }

        ::after {
            content: "";
            display: block;
            clear: both;
        }

    }
}

/* -----------------------------------------------------------------
design portfolio 영역
-----------------------------------------------------------------*/
#webdesign {
    position: relative;
    background-color: #fff;
    padding: 150px 0px;

    .webdesign_inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .web_tit {
            @include cont_tit();
        }

        .web_txt {
            margin-top: 5px;
            color: #afafaf;
            text-align: center;
            font-size: 1.124rem;
            font-weight: 600;
            font-family: 'Pretendard-Regular', sans-serif;
        }

        .web_content {
            display: flex;
            justify-content: space-between;
            margin-top: 90px;

            >article {
                width: 30%;

                .pic {
                    width: 100%;
                    height: 220px;
                    background-color: #333;
                    margin-bottom: 20px;
                    border: 1px solid #c2c2c2;

                    .web_mobile {display: none;}

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                h2 {
                    font-size: 18px;
                    font-family: 'Noto Sans', sans-serif;
                    color: #555;
                    margin-bottom: 20px;
                }

                a {
                    display: inline-block;
                    width: 70px;
                    height: 27px;
                    border: 1px solid #aa0000;
                    text-align: center;
                    font: bold 12px/27px "Noto Sans";
                    color: #aa0000;
                }

                :hover {
                    background-color: #aa0000;
                    color: #fff;
                }
            }
        }
    }
}

/* -----------------------------------------------------------------
contact 영역
-----------------------------------------------------------------*/
#contact {
    position: relative;
    background-color: #f0f0f0;
    padding: 180px 0px;

    .contact_inner {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        .contact_tit {
            text-align: center;
            color: #252525;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: 'Noto Sans', sans-serif;
            letter-spacing: -1px;
            text-shadow: 9px 8px 10px #ddd;
            margin-bottom: 60px;

            .contact_icon {
                width: 48px;
                animation: swing 2.5s infinite;
            }
        }

        .contact_info {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 800;

            a {
                display: block;
                font-size: 82px;
                font-weight: 500;
                transition: all 0.3s;
                font-family: 'Noto Sans', sans-serif;
                color: inherit;
            }

            :hover {
                color: #aa0000;
                transform: scale(.95);
            }

            .contact_txt {
                margin-top: 20px;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: #616161;
            }
        }
    }
}

/* -----------------------------------------------------------------
footer 영역
-----------------------------------------------------------------*/
#footer {
    border: 1px solid #eee;
    padding-top: 28px;
    padding-bottom: 26px;

    .fusion-row {
        >div {
            color: #adadad;
            text-align: center;
            font-family: 'Noto Sans', sans-serif;
        }
    }
}

/* -----------------------------------------------------------------
scroll navi 영역
-----------------------------------------------------------------*/
.scroll #header {background-color: #fff;}
.scroll #header nav > ul > li > a{color: #333;}
.scroll #header .logo a .on {display: block;}
.scroll #header .logo a .off{display: none;}


/* -----------------------------------------------------------------
        반응형
    -----------------------------------------------------------------*/
/* 1439px  ---------------------------------------------------------- */
@media screen and (max-width:1439px){
    /* about */
    #about {
        .about_inner {
            width: 90%;
    
            .about_wrap {
                .about_txt {
                    .content-box {
                    }
                    :nth-of-type(3) {
                        p {
                            width: 90%;
                        }
                    }
                }
            }
            
        }
    }

    /* skill */
    #skill {
        .skill_inner {
            padding: 0 90px;
        }
    }

    /* web_portfolio */
    #webdesign {
        .webdesign_inner {
            max-width: 90%;

            .web_content {
                >article {
                    width: 32%;
    
                    .pic {
                        width: 100%;
                        height: 200px;
                    }
                }
            }
        }
    }

    /* pub_portfolio*/
    #webpublisher {
        padding: 0px 0px 180px 0px;

        .webpublisher_inner {
            max-width: 90%;
        }
    }

    /* scrill navi */
    #navi {
        right: 20px;
    }
}

/* 1279px ----------------------------------------------------------- */
@media screen and (max-width:1279px){
    /* about */
    #about {
        .about_inner {
            width: 90%;
    
            .about_wrap {
                .about_img {
                    width: 30vw;
                    height: 40vh;
                    float: left;

                    img {
                        width: 100%;
                    }
                }

                .about_txt {
                    width: 54vw;

                    .content-box {
                    }
                    :nth-of-type(3) {
                        p {
                            width: 90%;
                        }
                    }
                }
            }
            
        }
    }

    /* skill */
    #skill {
        .skill_inner {
            padding: 0 90px;

            .skill-category-container {
                .skill-row {
                    width: 100%;
    
                    .skill_title {
                        width: 40%;
                        font-size: 36px;
                    }
            
                    .skill_list {
                        width: 60%;
        
                        .skill_list_item {
                            font-size: 16px;
            
                            .skill-list_name {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* web_portfolio */
    #webdesign {
        .webdesign_inner {
            .web_content {
                >article {
                    .pic {
                        height: 180px;
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/* 1023px ----------------------------------------------------------- */
@media screen and (max-width:1023px){
    /* visual */
    #visual {
        .visual_inner {
            .visual_content {
                .visual_text {
                    font-size: 24px;
                }
    
                .visual_logo {
                    img {
                        width: 55%;
                    }
                }
    
                .visual_desc {
                    font-size: 15px;
                }
            }
        }
    }

    /* about */
    #about {
        padding: 110px 0px;

        .about_inner {
            width: 90%;
    
            .about_wrap {
                .about_img {
                    width: 25vw;
                    height: 40vh;

                    img {
                        width: 100%;
                    }
                }

                .about_txt {
                    width: 58vw;

                    :nth-of-type(3) {
                        p {
                            width: 100%;
                        }
                    }
                }
            }
            
        }
    }

    /* skill */
    #skill {
        padding: 110px 0px;

        .skill_inner {
            padding: 0 50px;

            .skill-category-container {
                .skill-row {
                    .skill_title {
                        width: 40%;
                        font-size: 32px;
                    }
                }
            }
        }
    }

    /* web_portfolio */
    #webdesign {
        padding: 110px 0px;

        .webdesign_inner {
            .web_content {
                >article {
                    .pic {
                        height: 150px;
                    }

                    h2 {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    /* pub_portfolio*/
    #webpublisher {
        padding: 0px 0px 110px 0px;

        .webpublisher_inner {
            max-width: 90%;

            .pub_content {
                >article {
                    .pic {
                        height: 200px;
                    }
                }
            }
        }
    }

    /* contact */
    #contact {
        padding: 110px 0px;
    
        .contact_inner {
            max-width: 90%;
    
            .contact_tit {
                font-size: 1.3rem;
                margin-bottom: 40px;
    
                .contact_icon {
                    width: 48px;
                    animation: swing 2.5s infinite;
                }
            }
    
            .contact_info {
                a {
                    font-size: 70px;
                }

                .contact_txt {
                    font-size: 14px;
                }
            }
        }
    }
}


/* 839px----------------------------------------------------------- */
@media screen and (max-width:839px){
    /* header */
    #header {
        display: none;
    }

    /* visual */
    #visual {
        height: 54vh;
        min-height: 380px;

        .visual_inner {
            .visual_content {
                .visual_text {
                    font-size: 17px;
                }
    
                .visual_logo {
                    margin: 22px auto 50px;

                    img {
                        width: 54%;
                    }
                }
                
                .visual_desc {
                    font-size: 14px;
                }
            }
        }
    }

    /* about */
    #about {
        padding: 70px 0px;

        .about_inner {
            width: 90%;

            .about_tit {
                @include cont_tit($fontsize: 1.9rem);
            }

            .about_wrap {
                .about_img {
                    height: 30vh;
                    float: none;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }

                .about_txt {
                    margin-top: 30px;
                    width: 100%;
                    float: none;
                }
            }
            
        }
    }

    /* skill */
    #skill {
        padding: 70px 0px;

        .skill_inner {
            padding: 0 25px;

            .skill-category-container {
                padding-bottom: 40px;
                margin-bottom: 40px;

                .skill-row {
                    float: none;

                    .skill_title {
                        float: none;
                        width: 100%;
                        font-size: 30px;
                    }

                    .skill_list {
                        width: 100%;
                        float: none;
                        margin-top: 20px;
        
                        .skill_list_item {
                            font-size: 16px;
                            padding-left: 0px;
                            margin-top: 30px;
            
                            .skill-list_name {
                                margin-bottom: 12px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }

            :last-child {
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
        }
    }

    /* web_portfolio */
    #webdesign {
        padding: 70px 0px;

        .webdesign_inner {
            .web_tit {
                @include cont_tit($fontsize: 1.9rem);
            }

            .web_txt {
                font-size: 1rem;
            }

            .web_content {
                display: block;

                >article {
                    width: 100%;

                    .pic {
                        height: 260px;
                        margin-top: 70px;

                        :nth-of-type(1) {
                            margin-top: 0px;
                        }
                    }

                    h2 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    /* pub_portfolio*/
    #webpublisher {
        padding: 0px 0px 70px 0px;

        .webpublisher_inner {
            max-width: 90%;

            .pub_tit {
                @include cont_tit($fontsize: 1.9rem);
            }

            .pub_txt {
                font-size: 1rem;
            }

            .pub_content {
                >article {
                    .pic {
                        height: 200px;
                    }

                    .btn {
                        display: block;
    
                        a {
                            display: inline-block;
                            width: 100%;
                            height: 45px;
                            font: bold 14px/45px "Noto Sans";
                        }

                        :nth-of-type(1) {
                            margin-bottom: 6px;
                        }
                    }
                }
            }
        }
    }

    /* contact */
    #contact {
        padding: 70px 0px;
    
        .contact_inner {
            max-width: 90%;
    
            .contact_tit {
                font-size: 1rem;
                margin-bottom: 30px;
    
                .contact_icon {
                    width: 40px;
                }
            }
    
            .contact_info {
                a {
                    font-size: 45px;
                }

                .contact_txt {
                    font-size: 14px;
                }
            }
        }
    }

    /* footer */
    #footer {
        padding: 16px 0px;
    
        .fusion-row {
            >div {
                font-size: 13px;
            }
        }
    }
}

/* 539px----------------------------------------------------------- */
@media screen and (max-width:539px){
    /* visual */
    #visual {
        height: 45vh;
        min-height: 270px;
    }

    /* about */    
    #about {
        .about_inner {
            .about_wrap {
                .about_img {
                    height: 20vh;
                }

                .about_txt {
                    .content-box {
                        h2 {
                            font-size: 1rem;
                        }

                        .txt-box {
                            font-size: 15px;
                        }
                    }

                    p {
                        font-size: 15px;
                        letter-spacing: -2px;
                    }
                }
            }
        }
    }

    /* web_portfolio */
    #webdesign {
        .webdesign_inner {
            .web_content {
                >article {
                    .pic {
                        height: 220px;

                        .web_pc {display: none;}
                        .web_mobile {display: block;}
                    }
                }
            }
        }
    }

    /* contact */
    #contact {
        padding: 60px 0px;

        .contact_inner {
            max-width: 100%;
    
            .contact_tit {
                font-size: 1rem;
                padding-left: 30px;
    
                .contact_icon {
                    width: 32px;
                }
            }
    
            .contact_info {
                a {
                    font-size: 35px;
                }

                .contact_txt {
                    font-size: 12px;
                }
            }
        }
    }

    /* scrill navi */
    #navi {
        right: 8px;

        li {
            margin: 10px 0px;

            a {
                width: 8px;
                height: 8px;
            }

            .on {
                height: 50px;
            }
        }
    }
}

/* 430px----------------------------------------------------------- */
@media screen and (max-width:430px){
    /* web_portfolio */
    #webdesign {
        .webdesign_inner {
            .web_content {
                >article {
                    .pic {
                        height: 180px;
                    }
                }
            }
        }
    }
}

/* 350px----------------------------------------------------------- */
@media screen and (max-width:350px){
    /* web_portfolio */
    #webdesign {
        .webdesign_inner {
            .web_content {
                >article {
                    .pic {
                        height: 155px;
                    }
                }
            }
        }
    }
}