@charset "utf-8";
@import "reset.scss";

#home {
    position: relative;
    width: 100%;
    background: hotpink;

    .home_inner {
        position: relative;
        width: inherit;
        max-width: 1600px;
        margin: 0 auto;
    }
}